<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              <div class="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-person" viewBox="0 0 20 20">
                  <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                  <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Login
              </div>
            </h5>



            <form #form="ngForm" (ngSubmit)="login(form)">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="1001001001" step="1" name="cedula" ngModel>
                <label for="floatingInput">Cedula</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="showPass" (click)="mostrarContra()">
                <label class="form-check-label" for="showPass">
                  Mostrar Contraseña
                </label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Login</button>
                <button class="btn btn-danger btn-login text-uppercase fw-bold" style="margin-left: 10px;" (click)="cambiarPantalla(0, $event)">Sign Upx</button>
              </div>
              <hr class="my-4">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="signin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              <div class="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-person" viewBox="0 0 20 20">
                  <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                  <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Sign Up
              </div>
            </h5>



            <form #form="ngForm" (ngSubmit)="register(form)">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cedula" step="1" placeholder="Cédula" name="cedula" ngModel>
                <label for="floatingInput">Cédula</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" ngModel>
                <label for="floatingInput">Nombre</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellido1" placeholder="Apellido 1" name="apellido1" ngModel>
                <label for="floatingInput">Apellido 1</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellido2" placeholder="Apellido2" name="apellido2" ngModel>
                <label for="floatingInput">Apellido 2</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha" placeholder="Fecha de Nacimiento" name="fechaDenNcimiento" ngModel>
                <label for="floatingInput">Fecha de Nacimiento</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="peso" step="0.01" placeholder="Peso en Kg"name="peso" ngModel>
                <label for="floatingInput">Peso en Kg</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="imc" step="0.1" placeholder="Índice de Masa Corporal" name="imc" ngModel>
                <label for="floatingInput">Índice de Masa Corporal</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="direccion" placeholder="Dirección" name="direccion" ngModel>
                <label for="floatingInput">Dirección</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" name="email" ngModel>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword1" placeholder="Password" name="password" ngModel>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="showPass1" (click)="mostrarContra2()">
                <label class="form-check-label" for="showPass">
                  Mostrar Contraseña
                </label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign Up</button>
                <button class="btn btn-danger btn-login text-uppercase fw-bold" style="margin-left: 10px;" (click)="cambiarPantalla(1, $event)">Login</button>
              </div>
              <hr class="my-4">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
